<div class="page__footer-follow">
    <h3>Lust auf Anime? Dann schau doch mal hier:</h3>
    <ul style="list-style-type: none;">
        {% for footer in site.custom_footer %}
                <li style="display: inline-block">
                    <a href="{{ footer.url }}" target="_blank">
                        <img style="width: 32px; margin-right: 5px;" src="{{ site.baseurl}}/{{ footer.icon }}">
                        <b>{{ footer.label }}</b>
                    </a>
                </li>
        {% endfor %}
    </ul>
</div>
